
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
#/config/jwt/*.pem /!\ C'est complètement stupide de partager ses clés sur GitHub /!\
###< lexik/jwt-authentication-bundle ###
.idea
